<h1>Login as admin</h1>
<%= form_tag "/admins/login", method: :post do %>
  Password : <input type="password" name="password" />
  <input type="submit" value="Login" />
<% end %>
<% if flash[:error] != nil%>
    <p class="red"><%= flash[:error]%></p>
<% end %>
<p></p>

<div class="back_edit">
    <%= button_to("Back", "/", method: :get) %>
</div>
