// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_list_elem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
}

.back_edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
    margin-top: 20px;
}

.field{
    margin-top: 2px;
    margin-bottom: 2px;
}

#cam_container{
    width: 320px;
    height:240px;
}

#results {
    position: absolute;
    width: 320px;
    height: 240px;
}

#my_camera {
    position: absolute;
    width: 320px;
    height: 240px;
}
