// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal_close{
    display: flex;
    flex-direction: row;
}

div.images_list {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.image_user {
  margin: 1%;
}

a{
  color: white;
  text-decoration: none;
}
